@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-tight), Arial, Helvetica, sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

@layer utilities {
  .rotate-slow {
    animation: rotate 10s linear infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .rotate-slow-anticlock {
    animation: anticlock-rotate 10s linear infinite;
  }

  @keyframes anticlock-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  .animate-arrow-fall {
    animation: fall 2s ease-in-out infinite;
  }

  @keyframes fall {
    0% {
      transform: translateY(-30px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateY(40px);
      opacity: 0;
    }
  }
}

.imageWrapper {
  width: 100%;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageWrapper-fill {
  width: 100%;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* in globals.css or tailwind.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .popup-modal-container {
  
} */

.popup-modal-container .rs-modal-content {
  padding: 0 !important;
  background-color: transparent !important;

  border-radius: 24px !important;
  overflow: hidden !important;
}

.popup-modal-container .rs-modal-header-close {
  font-size: 25px !important;
  font-weight: 900 !important;
  color: #ffffff !important;
}

/* .popup-modal-container .rs-modal-header-close svg{
} */
